.product-detail{
    margin-top: 50px;
}
.product_ct1{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
}
.hero-content {
    display: flex;
    justify-content: center;
    color: rgb(143, 28, 28);
}
/* .product-img{
    width: 400px;
    height: 400px;
} */

.product-infomation{
    min-width: 400px
}

.pro-price{
    color: rgb(143, 28, 28);
    font-size:18px;
    font-weight:600;
}

.quantity-area{
display: flex;
width: 100px;
}
.change-quantity-btn{
    width: 50px;
}
.underline{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.hero-btn-full{
    width: 150px;
    height:50px;
    background-color:rgb(143, 28, 28);
    color:#fff;
    border: none;
}
.mota-sp,
.product-title > h1{
    width: 100% ;
}

@media (max-width: 1023px){
   
}
@media (min-width: 740px) and (max-width: 1023px){
    .product_ct1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-title > h1{
        font-size:16px;
        text-align: center;
    }
    span{
        margin: 0 auto;
    }
   
    h3{
        font-size:16px;
        text-align: center;
    }
    .product-infomation{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
   
    .add-item-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
}
@media (max-width: 739px){
    .product_ct1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-title > h1{
        font-size:12px;
        text-align: center;
    }
    span{
        margin: 0 auto;
    }
   
    h3{
        font-size:12px;
        text-align: center;
    }
    h3,
   .mota-sp{

      margin-left: 10px;
    }
    .product-infomation{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
   
    .add-item-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
    