body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-animal-pet-background-material-image_164004.jpg) top center / cover no-repeat;
    font-family: "Roboto", sans-serif;
  }
 