.product-detail{
    margin-top: 50px;
}
.product_ct1{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}
.hero-content {
    display: flex;
    justify-content: center;
    color: rgb(143, 28, 28);
}
.product-img-detail{
  margin-left: 60px;
  height: 450px;
  width: auto;
}

.product-infomation{
    min-width: 400px
}

.pro-price{
    color: rgb(143, 28, 28);
    font-size:18px;
    font-weight:600;
}

.quantity-area{
display: flex;
width: 100px;
}
.change-quantity-btn{
    width: 50px;
}
.underline{
   margin-top: 70px;
    
}
.hero-btn-full{
    border-left : 1px solid #ebebeb !important;
}
.hero-btn-full{
    width: 150px;
    height:50px;
    background-color:rgb(143, 28, 28);
    color:#fff;
    border: none;
}
.mota-sp,
.product-title > h1{
    width: 100% ;
}

.product-img-item{
    height: 80px;
    width: auto;
    margin-left: 10px;

}
.list-product-img{
    margin-left: 50px;
}
.product-img-item:hover{
    border: 3px solid red;
}
.swatch .swatch-header{
    
    margin: 10px 0px 10px;
    text-align: left;
    min-width: 100px;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
    font-family: "Roboto",sans-serif;
}
.swatch .swatch-element{
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
}
.swatch .swatch-element input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.swatch label {
    float: left;
    min-width: 40px !important;
    height: 40px !important;
    margin: 0;
    border: #ebebeb 1px solid;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 5px;
    border-radius: 0px;
    cursor: pointer;
}
.swatch input:checked+label {
    background: #ed1c24;
    border-color: #ed1c24;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1023px){
   
}
@media (min-width: 740px) and (max-width: 1023px){
    .product_ct1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-title > h1{
        font-size:16px;
        text-align: center;
    }
    span{
        margin: 0 auto;
    }
   
    h3{
        font-size:16px;
        text-align: center;
    }
    .product-infomation{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
   
    .add-item-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
}
@media (max-width: 739px){
    .product_ct1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-title > h1{
        font-size:12px;
        text-align: center;
    }
    span{
        margin: 0 auto;
    }
   
    h3{
        font-size:12px;
        text-align: center;
    }
    h3,
   .mota-sp{

      margin-left: 10px;
    }
    .product-infomation{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
   
    .add-item-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}